.loader{
    display: block;
    font-size:20px;
}

.error{
    display: block;
    font-size: 20px;
    color: #941111;
}

.cat-info{
    display: flex;
    gap: 40px;
    
}

.descr-title{
    font-weight: 700;
}

.hidden{
    display: none;
}